html {
  font-family: "Silom";
}

body {
  background-color: #313636;
  margin: 0;
  padding: 0;
}
/* .title {
  color: #03c755;
} */

.background img {
  width: 100%;
}

/* Header  */
.header-head {
  width: 100%;
  background-color: #c2e8c230;
  display: flex;
  justify-content: space-between;
}

.header-head .home-link {
  width: 50%;
}

.memento {
  color: white;
  font-size: 25px;
  flex-basis: 50%;
}

.store {
  color: #FF8000;
  font-size: 25px;
  flex-basis: 50%;
}

.header {
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 15px;
}
.header-head a {
  text-decoration: none;
}
header .header-links {
  display: flex;
  width: 50%;
  font-size: 1.2em;
  padding: 15px;
  justify-content: end;
}

header .header-links p {
  padding: 0;
  margin: -1%;
}

header .header-links .sign-in-link {
  padding: 5px 20px;
}

header .header-links .sign-in-link a {
  color: #ffffff;
  cursor: pointer;
}

header .header-links .sign-in-link .logout {
  color: rgb(255, 254, 254);
  cursor: pointer;
}

header .header-links .img img {
  width: 30px;
  margin-right: 0;
  padding: 0;
}

/* For responsiveness */

@media screen and (max-width: 900px) {
  header .header-links .sign-in-link {
    padding: 5px 15px;
    left: 39%;
    margin-left: 52%;
  }
}

@media screen and (max-width: 450px) {
  .header-head,
  header .header-links {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  footer {
    position: unset;
  }
}

@media screen and (max-width: 850) and (min-width: 450px) {
  ul.items li .info .info-bottom {
    top: 0;
  }
}

.sign-in {
  color: black;
}

.cart-icon {
  height: 35px;
  margin-left: 20px;
  margin-top: 5px;
}

.background img {
  width: 100%;
  margin-left: 0;
  margin-bottom: 2%;
  height: 100%;
}

.content {
  margin-top: 0;
  width: 100%;
}

ul.items li {
  list-style: none;
  padding-bottom: 60px;
}
ul.items li img {
  width: 30%;
  border-radius: 5%;
}
ul.items li .info {
  width: 70%;
  position: relative;
  padding: 5px 15px;
  float: right;
  margin-top: -19%;
}
ul.items li .info .name {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin: -5% 0% 26% 5%;
}
@media screen and (max-width: 1200px) {
  ul.items li .info .info-bottom {
    position: absolute;
    left: 7%;
    top: 144px;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  ul.items li .info .info-bottom .price {
    margin: 0% 20%;
  }
}
ul.items li .info .info-bottom {
  position: absolute;
  left: 7%;
  top: 141px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  ul.items li .info .info-bottom {
    display: flex;
    justify-content: space-between;
    left: -10%;
    top: 61%;
    padding-left: 0%;
  }
}

@media screen and (max-width: 900px) {
  ul.items li .info .info-bottom .price {
    margin: 0% 20%;
  }
}

@media screen and (max-width: 450px) {
  ul.items li .info .info-bottom {
    position: absolute;
    left: 7%;
    top: 26px;

    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 450px) {
  ul.items li .info .info-bottom {
    top: 26px;
    left: 3px;
  }
}

@media screen and (max-width: 450px) {
  ul.items li .info .info-bottom .add {
    position: relative;
    left: -9%;
  }
  ul.items li .info .info-bottom .number {
    position: relative;
    left: -9%;
  }

  .popup .popup-inner .popup-preview .input .Melodum .bold {
    font-weight: bold;
    font-size: 23px;
    color: white;
  }
}

ul.items li .info .info-bottom .price {
  padding-top: 5px;
  font-size: 20px;
  color: #ffffff;
  font-weight: lighter;
}
ul.items li .info .info-bottom .add {
  border: 1px solid #FF8000;
  font-size: 20px;
  padding: 5px 25px;
  cursor: pointer;
  background-color: #FF8000;
  color: #fff;
}

ul.items li .info .info-bottom .number {
  border: 1px solid #FF8000;
  font-size: 20px;
  padding: 5px 15px;
  color: #e4e4e4;
  background-color: #FF8000;
  position: relative;
}

ul.items li .info .info-bottom .number .plus,
ul.items li .info .info-bottom .number .minus,
ul.items li .info .info-bottom .number .count {
  padding: 3px;
}

ul.items li .info .info-bottom .number .plus,
ul.items li .info .info-bottom .number .minus {
  padding: 3px;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .content {
    padding: 0px 0px 0px 0px;
  }
  .background img {
    height: 200px;
  }
  .background .main-catch {
    top: 54px;
    position: absolute;
    color: white;
    left: 1px;
    font-size: 17px;
    margin: 0 2% 0 2%;
  }
  ul.items li {
    padding: 0% 0% 5% 0%;
  }

  ul.items li .info .name {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    left: 25px;
    top: 0px;
  }
  .content .item-image {
    width: 60%;
  }

  ul.items li .info .name-bottom .count {
    padding: 7px 10px 0 5px;
    font-size: 13px;
  }

  @media screen and (max-width: 500px) {
    ul.items li .info .info-bottom .price {
      padding-top: 3px;
      font-size: 15px;
    }
  }

  ul.items li .info .info-bottom .add {
    font-size: 14px;
    padding: 0px 5px;
    line-height: 24px;
    background-color: #FF8000;
  }

  ul.items li .info .info-bottom .number {
    font-size: 14px;
    padding: 0px 5px;
    line-height: 24px;
    color: white;
    background-color: #FF8000;
  }
}

/* Scroll Section */

.scroll h2 {
  color: white;
}

.scroll .scrollitems {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scrollitems img {
  margin-right: 15px;
}

.scroll .scrollitems .scrolltext img {
  width: 29%;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  background-color: #495050;
  z-index: 2;
  /* border: 1px solid #939393; */
  width: 100%;
  /* font-weight: bold; */
  color: #ffffff;
}

.tags {
  display: flex;
  padding: 20px 5px;
}

.tags button {
  background-color: #3c3c3c;
  color: white;
  border-radius: 15px;
  border-color: 1px solid white;
  font-style: italic;
  font-weight: 10;
  font-family: "Times New Roman";
  margin-right: 20px;
  font-size: 20px;
}

footer button {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #FF8000;
  color: #ffffff;
  border: 0;
  padding: 8px 15px;
  font-size: 15px;
  cursor: pointer;
}

.popup {
  position: fixed;
  background-color: #00000042;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 10px;
  z-index: 2;
}

.popup .popup-inner {
  position: relative;
  padding: 5px;
  background-color: #495050;
  border-radius: 10px;
}

.popup h4 {
  margin-left: 25%;
}

.popup h5 {
  font-size: 30px;
  color: black;
  text-align: center;
}

.popup .popup-inner .popup-preview {
  position: absolute;
  left: 35%;
  background-color: #495050;
  border-radius: 3%;
  margin-top: 6%;
  width: 25%;
  margin-right: 10%;
}

@media screen and (max-width: 540px) {
  .popup .popup-inner .popup-preview {
    position: absolute;
    left: 16%;
    top: 69px;
    width: 63%;
    background-color: #ffffff;
    border: 2px solid #707070;
  }
}

.popup .popup-inner .popup-preview .close {
  position: absolute;
  width: 27px;
  right: 0px;
}

.popup .popup-inner .popup-preview .input {
  left: 10%;
}

.popup .popup-inner .popup-preview .input .Melodum {
  display: flex;
  text-align: center;
  justify-content: center;
}

.popup .popup-inner .popup-preview .input .Melodum img {
  width: 10%;
  margin-right: 3%;
}

.popup .popup-inner .popup-preview .input .Melodum .bold {
  font-weight: bold;
  font-size: 25px;
  color:white;
}

.popup .popup-inner .popup-preview .input .bold2 {
  font-weight: bold;
  font-size: 25px;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
  text-align: center;
  color: #FF8000;
}

.popup .popup-inner .popup-preview .input p {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
  .popup .popup-content {
    top: 20%;
    left: 10%;
    width: 76%;
    padding: 0 4%;
  }
}

.popup input {
  background-color: #ffffff;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 30px;
  margin: 10px;
  border-style: none;
  border-radius: 5px;
}

.inputtxt {
  width: 87%;
  height: 200px;
}

.button {
  background-color: #FF8000;
  font-weight: bold;
  color: #ffffff;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 50px;
  margin: 10px;
  border-style: none;
}
.bottom {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.bottom a {
	color: #FF8000;
}

.box {
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #FF8000;
}

.box h3 {
  padding: 60px;
  color: white;
}


.details {
  width: 100%;
  margin: 50px 0;
}
.details .product-details {
  width: 70%;
  margin: 0 auto;
}

.details .box2 table {
  margin: 0;
  width: 100%;
  color: #FF8000;
  border-collapse: collapse;
}
.details .box2 .border {
  border-top: 1px solid #FF8000;
}

.details h3 {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin: 0;
}

.details h4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: normal;
  margin: 20px auto;
}

.details p {
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
}
.details .product-details .box2 tr {
  height: 2em;
}

.details .product-details .box2 .td-item {
  width: 60%;
}

.details .product-details .box2 .td-quantity {
  width: 10%;
}

.details .product-details .box2 .td-price {
  width: 10%;
}

.details .product-details .box2 .border {
  border-top: 2px solid #FF8000;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
}
.details .total p {
  color: #FF8000;
  font-size: 18px;
  font-weight: bold;
}

.details .dispatch {
  margin: auto;
    padding: 8%;
}

.details .dispatch .form {
  display: grid;
  color: white;
  background-color: #ff8000;
  align-items: center;
  max-width: 700px;
  margin: 40px auto;
  border-radius: 10px;
  padding: 20px;
}

.details .dispatch .form input {
  width: 79%;
  height: 36px;
  margin: 3px auto;
  border-radius: 5px;
  border: none;
}

.details .dispatch .form label {
  margin-left: 11%;
  margin-top: 49px;
}

.details .submit {
  width: 31%;
  height: 85%;
  border: none;
  background-color: #535353;
  color: white;
  padding: 12px;
  border-radius: 5px;
  margin-top: 19px;
  margin-left: 36%;
  font-size: 17px;
}

.message {
	color: whitesmoke;
	text-align:center;
	padding: 5px;
}

@media screen and (max-width: 400px) {
  .message p {
    font-size: 13px;

  }
}

.backhome button {
  background-color: #FF8000;
  color: #ffffff;
  border: 0;
  font-size: 14px;
  padding: 6px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}


.content li {
  list-style: none;
}
.content .item-image {
  width: 30%;
}

.message .color {
  font-weight: bold;
  color: #FF8000;
}

